.currency-xs{
    width: 50px;
     position: relative;
     top: -44px;
     height: 9px;
 }  
 
 @media(max-width:991px){
 .d-292-none{
     display: none;
 } 
 .d-292-flex{
   display: flex !important;clear: both;float: right;
 }
 .logo{margin: auto;margin-bottom: 2%;}
 .header-area {
     margin: auto !important;
     display: inline-block;
 }
 .top-search-btn{
     float: right;
     top: -40px;
     right: 12px;
 }
 .allcat-xs a{
     width: 100%;
     padding: 3px 18px !important;
 }
 .allcat-xs .dropdown-menu{      margin-left: 5px;
    width: 97%;
    border-radius: 0;
     padding: 3px 18px !important;}
 .main-menu-area .navbar.container  {flex-direction: row-reverse;
 padding-right: 1rem !important;padding-top: 3px !important
 }
 .main-menu-area .navbar.container .navbarnav{
     border: 1px solid #ebdada;
 }
 .single-product-item img{   height: 260px;}
 .shop-product-wrap.box-module .row {
 padding:5px 25px
 }
 }
  .single-product-item .carousel-item img{    height: 0rem !important;}
 @media(max-width:767px){
     #navbarNavDropdown{
         text-align: center;
     }
     .d-292-flex{float: none;}
     .header-area{    width: 80%;}
     
     span.main-r-bg{    width: 73px;
         margin-top: 5px;}
 }
 .wishlist td span.main-b-bg,span.main-r-bg{font-size: 13px}
 @media(max-width:568px){
     .product-select-box .product-show label{
        display: none !important;
     }.product-select-box .product-show{font-size: 14px}
     .toolbar-amount{    font-size: 13px;}
 }
 
 @media(min-width:992px){
    
     .single-product-item img{
        height: 260px;
     }
      .product-info {
        margin-top: -16px;
     }
 }
 /* xs currency-drop down */
 .currency-dropdownmenu{
    z-index: 99;
    background: #fff;
    position: absolute;
    top: 37px;
    left: 14px;display: none;
    border: 1px solid #d4d4d4;
}
.currency-dropdownmenu.show{display: block !important}
 @media(max-width:450px){
     .top-search-input{min-width: 14rem;}
     #new-header{font-size: 12px;}
     #new-header .loginbtn{    padding: 0rem;
        width: 65px;
        font-size: 12px;}
        .lang-currency .dropdown:nth-child(2){display: none;}
 }
 @media(max-width:370px){
   .top-search-input{min-width: 12rem;}  
 }
 /* category sm */
 .allcat-xs{cursor: pointer;}
 #categorysm{padding: 0.5rem 0; border-top: 1px solid #e8e4e4;display: none}
 .shown{display: block !important}
 
 @media(min-width:992px) and (max-width:1199px){
     .top-search-input{    width: 31rem;}
 }
 @media(min-width:768px) and (max-width:991px){
     .top-search-input{    width: 20rem;}
 }
 @media(max-width:767px){
     .top-search-input{        width: 100%;}
     .top-search-btn{right:4px}
 }