/* @font-face {font-family: 'segoeui';
    src: url("/css/ar/segoeui.ttf");
    src: url("/css/ar/segoeui.ttf") format("embedded-opentype"),
    url("/css/ar/segoeui.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
} */
body{
    /* font-family: segoeui !important; */ 
    font-family: 'Almarai', sans-serif !important;    font-size: 15px !important;
}
.section-t{    font-weight: 600;}
.slider-main-area{
    margin-top: 2rem;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fff;
}
.slider-main-area .carousel-indicators li{    height: 12px;
    width: 12px;
    border-radius: 50%;}
.mainSlider{
    box-shadow: 0 0 4px #99999969;
}
#home-slide-1 .carousel-item{
    min-height: 27rem;
    background-size: cover;
    background-repeat: no-repeat;
}
#home-slide-1 .slider-text-info{
    padding: 98px 0;
}
#home-slide-1 h1.title-1,#home-slide-1 h2.title-2 {
    color: #222222;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1;
    margin: 0;
    text-transform: uppercase;
}
#home-slide-1 .slider-1-des p span {
    color: #0879c9;font-size: 60px;display: block
}
#home-slide-1 .slider-1-des p {
    color: #666666;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 17px;
    padding: 0;
    text-transform: uppercase;
}
#home-slide-1 .shop-btn{ 
    background: rgba(0,0,0,0);
    border: 2px solid #0879c9;
    color: #0879c9;text-decoration: none;text-transform: uppercase;
    padding: 9px 14px;font-weight: 600;
    position: relative;
    top: 29px; animation: shpbtn-anim 3s 1 2s linear;
}
#home-slide-1 .shop-btn:hover{color: #fff;background: #0879c9}

#home-slide-1 .slider-2-des p{color: #fff;}
@media (max-width: 767px){
#home-slide-1 .slider-1-des p span {
    font-size: 35px;
}
#home-slide-1 .slider-1-des p {
    font-size: 14px;
    margin-top: 5px;color: #fff;
    animation: discount-anim 3s 1 2s linear;
}
#home-slide-1 h1.title-1,#home-slide-1 h2.title-2{color:#fff}
}
@keyframes discount-anim{
    0%{opacity: 0;
        }
    42%{
        opacity: 0.6;
        }
    98%{
        opacity: 1;
        }
}
@keyframes shopbtn-anim{
    0%{right: -15rem;
        opacity: 0;
        }
    42%{
        right: -5rem;
    opacity: 0.5;
        }
    98%{
        right: 0;
        opacity: 1;
        }
}
.you-may-like img{height: 50px;
    width: 50px;}
    .you-may-like .media{background-color: white}
    .you-may-like .fa-shopping-cart{
      border-radius: 50%;
      background: #DEDEDE;
      padding: 10px 11px;   font-size: 1rem;
      float: left;
      cursor: pointer;    margin-top: -18px;
      }
    .you-may-like .fa-shopping-cart:hover{   color: white; background: #0879c9;}
    .about-our-services div.media{background-color: #fff;}
    .about-our-services i.fa{   font-size: 1.6em;
    margin: 6px 6px 6px 0;
    top: 1px;
    position: relative;}
    .about-our-services i.fa-heart-o{top: 3px}
    .about-our-services h6 {color: #575151;}
    .about-our-services h6 strong {color: #201f1f;}
     .section-t::after {
      background: #0879c9 none repeat scroll 0 0;
    top: inherit;
    content: "";
    height: 2px;
    right: 32px;
    position: absolute;
    width: 70px;
    margin-top: 31px;
    }
    
    .you-may-like .carousel-control,.ft-p .carousel-control{    border: 2px solid #695e5e;
    height: 30px;
    width: 30px;
    border-radius: 50%;}
    .p-name a {
        color: #222222;
        display: block;
        font-size: 14px;
        font-weight: 400;
        overflow: hidden;
        padding: 0;
        text-transform: capitalize;
    }
    .you-may-like .carousel-control-prev{     left: 1.5rem;
        right: auto;top: 8px;}
    .you-may-like .carousel-control-next{      top: 8px;
        left: 3.5rem;}
    .carousel-control .fa-chevron-left{color: #695e5e;
    margin-right: 3px;
    font-size: 0.8rem;}
    .carousel-control .fa-chevron-right{color: #695e5e;
    margin-left: 3px;
    font-size: 0.8rem;}
    .carousel-control:hover{background:#0879c9;border:none}
    .carousel-control:hover i{color: #fff}
    .center-home #allcategory{
    padding: 15px 20px;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    }
    .center-home .dropdown-menu > li > a {
        display: block;
        text-decoration: none;
        clear: both;
        cursor: pointer;
        font-weight: normal;
        line-height: 20px;
        color: #333333;
        white-space: nowrap;
    }
    .categories-options .row > div{padding: 1rem;text-align: center}
    .single-category img{     height: 235px;
        
        margin-bottom: 16px;
        width: 86%;}
    .single-category img:hover{transform: scale(1.1,1.1)}
    .single-category a{    color: #52585d;text-decoration: none}
    .single-category a:hover{color: #0879c9}
    .ft-p >div{position: relative;}
    .categories-options .section-t::after,.ft-p .section-t::after{left: 19px;margin-top: 45px;
        right: 18px;width: 85px;} 
    .categories-options .section-t,.ft-p .section-t{    padding-bottom: 14px;}
    .categories-options .carousel-control,.ft-p .carousel-control{position: inherit;
    float: left;}
    .categories-options .carousel-control-prev,.ft-p .carousel-control-prev{
    margin-right: 7px;}
    .categories-options .carousel-control-next,.ft-p .carousel-control-next{
    margin-right: 18px;}
    .products-link img{
      height: fit-content;
    }.products-link img:hover{    border: 6px solid #b9b9bf6e;}
    .product-info{    margin-top: -17px;
        margin-bottom: 16px;}
        .product-name {
            display: block;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    @media(max-width:992px){
        .products-link img{    max-height: 200px;}
    }
    .social-link-follow li {
    margin-bottom: 5px;
    margin-right: 10px;
    display: inline-block;
   }.social-link-follow li a {
    background: #365493 none repeat scroll 0 0;
    border-radius: 100%;    color: #ffffff;    display: block;   
     font-size: 16px;    height: 36px;    line-height: 36px;    color: #fff;    padding: 0;
    position: relative;
    text-align: center;    -webkit-transition: all 0.3s ease-in-out 0s;    transition: all 0.3s ease-in-out 0s;    width: 36px;z-index: 1;
}
.social-link-follow li a i{color: #fff !important}

.social-link-follow li a.twitter {
    background: #33ccff;
}.social-link-follow li a.Facebook {
    background: #365493 none repeat scroll 0 0;
}.social-link-follow li a.Youtube {
    background: #cb2027;
}.social-link-follow li a.instagram {
    background: #5351e0;
}
.social-link-follow li a:hover{background: #365493}
.PHONE img,.SHIRTS img{    height: 77px;
    width: 65px;}

@media(max-width:576px){
    .container{padding-left:2.5rem;padding-right: 2.5rem }
    .categories-options .section-t, .ft-p .section-t,.section-t  {
        font-size: 0.9rem;
    }
    .categories-options .section-t::after, .ft-p .section-t::after{
        margin-top: 39px;
    }.section-t::after  {
        margin-top: 26px;
    }

}
@media(min-width:461px){#all-product-img-link-sm{
    display: none;
 }}
@media(max-width:460px){
    #all-product-img-link-lg{
       display: none;
    }
    #all-product-img-link-sm{
       display: block;
    }
    
   }
   @media(max-width:768px){
    .contacts-list-info > div:not(:last-of-type)::after{
        width: 0px; 
    }
    .contacts-list-info > div:not(:first-of-type)::after{
        width: 0px; 
    }
   }

   